<div class="table-container">
    <h2>Expenses Table</h2>
    <table>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Cost</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses" [class.selected]="expenses[expense.id] === selectedExpense" (click)="onSelect(expenses[expense.id])">
          <td>{{ getFullName(expenses[expense.id].userId) }}</td>
          <td>{{ expenses[expense.id].category }}</td>
          <td>{{ expenses[expense.id].description }}</td>
          <td>{{ expenses[expense.id].cost }}</td>
          <td>
            <button (click)="delete(expenses[expense.id])">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-container">
      <h2>Add Expense</h2>
      <form #expenseForm="ngForm">
        <div>
          <label>User:</label>
          <select name="userId" [(ngModel)]="selectedExpense.userId" required>
            <option *ngFor="let user of users" [value]="user.id">{{ user.firstName }} {{ user.lastName }}</option>
          </select>
        </div>
        <div>
          <label>Category:</label>
          <select name="category" [(ngModel)]="selectedExpense.category" required>
            <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
          </select>
        </div>
        <div>
          <label>Description:</label>
          <input type="text" name="description" [(ngModel)]="selectedExpense.description" required>
        </div>
        <div>
          <label>Cost:</label>
          <input type="number" name="cost" [(ngModel)]="selectedExpense.cost" required>
        </div>
        <div class="form-actions">
          <button type="submit" (click)="add(selectedExpense.userId, selectedExpense.category, selectedExpense.description, selectedExpense.cost)" [disabled]="!expenseForm.valid">Add Expense</button>
          <button type="button" (click)="update()" [disabled]="!selectedExpense">Update Expense</button>
        </div>
      </form>
    </div>
    <h2>Company Expenses</h2>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Total Expense</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Food</td>
          <td>{{ getTotalExpenseByCategory('Food') }}</td>
        </tr>
        <tr>
          <td>Travel</td>
          <td>{{ getTotalExpenseByCategory('Travel') }}</td>
        </tr>
        <tr>
          <td>Equipment</td>
          <td>{{ getTotalExpenseByCategory('Equipment') }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{ getTotalExpense() }}</td>
        </tr>
      </tbody>
   
  